.container {
  text-align: center;
  padding: 5% 40%;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 5px;
}

.todo input {
  width: 300px;
  height: 30px;
  font-size: 20px;
  padding-left: 15px;
  margin: 5px;
}

.todos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  margin-left: 15px;
}

.todos li {
  margin: 5px 0;
  font-size: 25px;
}

label {
  margin-left: 5px;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 5% 0;
  }
}
